body  {
    background-color: rgb(80, 80, 80);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p  {
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    font-size: 40px;
    text-align: center;
        letter-spacing: 5px;
}

h1 {
    color: rgb(180, 180, 180);
    font-size: 20px;
    text-align: center;
}

.descp {
    font-size: 15px;
}

.box {
    background-color: crimson;
    width: 120px;
    border: black 5px solid;
    border-radius: 4px;
    height: 120px;
}

.btn {
    width: 300px;
    background-color: cyan;
    color: rgb(255, 255, 255);
    padding: 30px;
    border: white 5px solid;
    border-radius: 40px;
    margin-top: 20px;
    text-align:center;
    transition: 1.2s;
}

.btn:hover {
    scale: 1.1;
    rotate:  180deg;
}